<!-- <p>home works!</p> -->
<div class="container">
    <div class="row">
        <div class="card mt-3 p-5">
            <h4 class="text-danger text-center m-3"><b>Currency Converter</b></h4>
            <div class="card-body p-5">
                    <div class="row m-3">
                        <div class="col-4">
                            <form>  
                                <!-- <pre>{{c | json}}</pre> -->
                                <select #c1 id="country1" (mouseleave)="changebase(c1.value)">
                                    <option value="INR">Indian Rupees</option>
                                    <option value="USD">US Dollar</option>
                                    <option value="EURO">Euro</option>
                                    <option value="CAD">Canadian Dollar</option>
                                  </select>
                                  <select #c2 id="country1" class="m-4" (mouseleave)="tocountry(c2.value)">
                                    <option value="INR">Indian Rupees</option>
                                    <option value="USD">US Dollar</option>
                                    <option value="EURO">Euro</option>
                                    <option value="CAD">Canadian Dollar</option>
                                  </select>
                            </form>
                        </div>
                        <div class="col-4">
                            <button (click)="convert()" type="button" class="btn btn-primary btn-sm my-3">convert</button>
                        </div>
                        <div class="result col-4">
                            <p>1 {{base}}</p>
                            <p>=</p>
                            <p>{{result}} {{cont2}}</p>
                      </div>
                    </div>              
            </div>
        </div>
    </div>
</div>